:root {}

body {
    background-color: #CFD2C6;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*start global */
* {
    padding: 0;
    margin: 0;
    transition: 0.3s;
}
html{
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*end global */
/* start landing */
.landing {
    position: relative;
}

.landing .image {
    width: 100%;
    height: 100vh;
    position: relative;
}

.landing .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.landing .header {
    display: grid;
    grid-template-columns: repeat(6 ,1fr);
    top: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    padding-block: 40px;
    position: fixed;
}
.landing .header .left-side{
    grid-column-start: 1;
    align-items: center;
}
.landing .header .name{
    grid-column-start: 3;
}
.landing .header .right-side{
    grid-column-start: 5;
}
@media(max-width:463px) {
    .landing header ul {
        display: none;
    }

}

.landing .header .name {
    color: #CFD2C6;
    font-family: "Elsie", serif;
}

.header ul {
    display: flex;
    gap: 40px;
}

.landing .header li {
    font-size: 16px;
    font-weight: 400;
}

.landing .header a {
    color: #CFD2C6;
}

@media(max-width:676px) {
    .landing .header {
        overflow: hidden;

    }

    .landing .header li {
    }

    .landing svg {
    }

}

@media(max-width:500px) {
    .landing .header {
        overflow: hidden;
    }

    .landing .header ul {
        display: none;
    }
}

.landing .text {
    height: 100%;
    /* width: 100%; */
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.landing .text p {
    color: #CFD2C6;
    font-family: 'Clash Display', sans-serif;
    font-size: 80px;
    font-weight: 700;
    grid-column: 1/7;
}



@media(max-width:800px) {
    .landing .text p {
        font-size: 50px;
    }
}

/* end landing  */
/* star page 2 */

.page2 .header ul {
    padding-block: 42px;
}

@media(max-width:947px) {}

.page2 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

.page2 .header .name {
    color: #36392D;
    font-family: "Elsie", serif;
}

.header ul {
    display: flex;
}

.page2 .header li {
    font-size: 16px;
    font-weight: 400;
}

.page2 .header a {
    color: #36392D;
}

@media(max-width:676px) {
    .page2 .header {

        overflow: hidden;
        flex-direction: column;
    }

    .page2 .header .name {

        justify-content: center;
        align-items: center;
    }

    .page2 .header li {
        padding: 7px;
    }

    .page2 .section1 {
        flex-direction: column;
    }

    .page2 .header svg {
        width: 20px;
        margin-top: -6px;
    }

    .left-text h2 {
        font-size: 50%;
        text-align: center;

    }

    .right-text p {
        font-size: 70%;
        text-align: center;

    }
}

@media(max-width:300px) {
    .page2 .header {
        margin: 0px;
        padding: 0;
        overflow: hidden;
        margin-left: 20px;
    }

    .page2 .header li {
        padding: 7px;

        font-size: 10px;
    }

    .page2 .header svg {
        width: 20px;
        margin-top: -6px;
    }

    .page2 .section1 {
        flex-direction: column;
    }

    .left-text h2 {
        font-size: 30%;
        text-align: center;

    }

    .right-text p {
        font-size: 50%;
        text-align: center;
    }
}

.page2 .section1 {
    height: 328px;
    width: 100%;
    align-items: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@media(max-width:800px) {
    .page2 .section1 svg {
        display: none;
    }
}

.page2 .section1 .left-text {
    grid-column: 2/7;
}

.page2 .section1 .left-text h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    font-style: bold;
    color: #36392D;
}

.page2 .section1 .right-text {
    grid-column: 8/12;
}

.page2 .section1 .right-text p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: #36392D;
}

.page2 .section1 .icon {
    position: absolute;
    bottom: 20px;
    margin-top: 224px;
    margin-left: 80px;
}

.page2 .section1 .icon svg {
    padding: 12px;
}

@media(max-width:676px) {
    .page2 .section1 {
        display: flex;
        flex-direction: column;
    }

    .page2 .section1 .left-text h2 {
        font-size: 30px;
    }

    .page2 .section1 .right-text {}

    .page2 .section1 .right-text p {
        font-size: 15px;
    }

    .page2 .section1 .icon svg {
        width: 50px;
        margin-bottom: -90px;
        padding: 3px;
    }
}

@media(max-width:800px) {}

@media(max-width:870px) {
    .page2 .section1 {
        display: flex;
        flex-direction: column;
    }

    .page2 .section1 .left-text h2 {
        font-size: 50px;
    }

    .page2 .section1 .right-text {}

    .page2 .section1 .right-text p {
        font-size: 15px;
    }

    .page2 .section1 .icon {
        left: 35%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

/* end section1 */
/* start section2 */
.section2 .images {
    display: flex;
    gap: 40px;
    overflow: hidden;
    margin-left: -40px;
}

.section2 .images img {

    height: 300px;
    object-fit: cover;
}

/* end section2 */
/* start section3 */
.section3 {
    position: relative;
    font-family: "Roboto", sans-serif;
}

.section3 .text h2 {
    font-family: 'Clash Display', sans-serif;
    color: #36392D;
    font-size: 64px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    grid-column: 6/8;
    margin-bottom: 24px;
}

.section3 .text p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 160%;
    grid-row-start: 2;
    grid-column: 4/10;
}

.section3 .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media(max-width:850px) {
    .section3 .text {
        grid-template-rows: repeat(6, auto);

    }

    .section3 .images .item{
        width: 40%;
    }
    
    .section3 .images .item img{
        width: 100%;
    }
    .section3 .images{
        flex-wrap: wrap;
    }
}
@media(max-width:600px){
        .section3 .images .item{
        width: 30%;
    }
    
    .section3 .images .item img{
        height: 60%;
        width: 100%;
    }
        .section3 .images{
        flex-wrap: wrap;
    }
}

.section3 .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .nav span {
    margin: 40px 20px;
    padding: 16px;
    border: 1px solid #9FA68C;
    border-radius: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.section3 .images {
    display: flex;
    overflow: hidden;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section3 .images img {
    height: 400px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.section3 .images h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 16px;
}

.section3 .images span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
}

.section3 .images .food3 img {
    border: 1px solid #FF0000;
}

.section3 .images .left-icon {
    position: absolute;
    left: 60px;
    bottom: 20%;
    transform: translate(-50%, -50%);
}

.section3 .images .right-icon {
    position: absolute;
    right: 0;
    bottom: 20%;
    transform: translate(-50%, -50%);

}

@media(max-width:800px) {
    .section3 .text p {}

    .section3 .nav {
        flex-wrap: wrap;
    }

    .section3 .nav span {
        margin: 10px;
    }

    .section3 .images svg {
        display: none;
    }

    .section3 .text h2 {
        font-family: 'Clash Display', sans-serif;
        color: #36392D;
        font-size: 55px;
        font-weight: 600;
        grid-column: 4/10;
        margin-bottom: 24px;
    }
}

/* end section3 */
/* start section4 */
.section4 {
    overflow: hidden;
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(12, 1fr);
}



.section4 .image img {
    height: 760px;
}


.section4 .image {
    grid-column: 1/6;
}


@media(max-width:800px) {
    .section4 .image img {
        height: 800px;
        width: 100%;
    }

    .section4 .text {
        margin-bottom: -300px;
    }

    .section4 .text p {
        font-size: 20px;

    }

    .section4 {
        /* margin-top: 500px; */
    }

}

@media(max-width:1000px) {
    .section4 .image img {
        height: 600px;
    }

    .section4.image {
        grid-column: 1/3;
    }

    .section4 .text {
        grid-column: 7/12;
    }
}

.section4 .image h3 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.section4 .image span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 16px 0;

}

.section4 .image p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 16px 0;

}

@media(max-width:800px) {
    .section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.section4 .text {
    flex-basis: 579.1231689453125px;
    display: flex;
    flex-direction: column;
    grid-column: 8/12;
}

.section4 .image-text {
    max-width: 266px;
}

.section4 .text hr {
    border: 1px solid #9FA68C;
}

.section4 .text p {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #9FA68C;
    top: 20px;
}

/* end section4 */
/* end page 2 */
/* start page3 */
.page3 {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B7BCA9;
    width: 100%;
}

.page3 .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    position: relative;
}

.page3 .text h2 {
    grid-column: 2/6;
    grid-row: 2/4;
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #36392D;
}

.page3 .text p {
    grid-column: 9/13;
    grid-row: 2/4;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.page3 .text .icon {
    position: absolute;
    left: 80px;
    bottom: 40px;

}

.page3 .text .icon svg {
    padding: 10px;
}


.page3 .images {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    gap: 20px;
}

.page3 .images .item {
    text-align: center;
    width: 300px;
}

.page3 .images img {
    margin: auto;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.page3 .text .icon {
    bottom: 12px;
}


@media(max-width:804px) {
    .page3 .text {
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .page3 .images .item {
        width: 200px;
    }

    .page3 .images .item img {
        width: 100%;
    }

    .page3 .text h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #36392D;
        grid-row: 3/5;
    }

    .page3 .text p {
        text-align: center;
        grid-row: 3/5;
    }

    .page3 .text .icon {
        display: none;
    }
}

@media(max-width:1000px) {
    .page3{
        padding-bottom: 20px;
    }
    .page3 .text {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .page3 .images {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .page3 .images .item {
        width: 300px;
    }

    .page3 .images .item img {
        width: 100%;
    }

    .page3 .text h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #36392D;
        margin: auto;
    }

    .page3 .text p {
        text-align: center;
        margin-bottom: 50px;
        margin: auto;
    }

    .page3 .text .icon {
        display: none;
    }
}

/* end page3 */
/* start page4 */
.page4 {
    margin: 60px;
}

.page4 .text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.page4 .events h2 {
    font-family: 'Clash Display', sans-serif;
    grid-column: 2/6;
    grid-row: 2/4;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #36392D;

}

.page4 .events .images {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-direction: column;
    gap: 24px;
}

.page4 .images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;

}

.page4 .images .item {
    position: relative;
    z-index: 1;
    border: 1px solid #000000;
    height: 637px;
}

.page4 .images .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #959D7BCC;
    transition: 0.3s;
}

.page4 .images .item p {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    font-family: "Clash Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    z-index: -1;
}

.page4 .images .item:hover {
    .cover {
        z-index: 2;

    }

    p {
        z-index: 2;
    }
}




@media(max-width:800px) {
    .page4 .images .item {
        height: 200px;
    }

    .page4 .images img {

        object-fit: cover;
    }

    .page4 .events {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page4 .events .text{
        display: inline ;
    }

    .page4 .events .images {
        justify-content: center;
        align-items: center;
    }
}

/* end page4 */
/* start footer */
footer {
    background-color: #B7BCA9;
    color: #36392D;
    width: 100%;
}

.footer {
    overflow: hidden;
    background-color: #B7BCA9;
    color: #36392D;
    display: grid;
    grid-template-columns: repeat(auto, 9);
    grid-template-rows: repeat(auto, 2);
    justify-content: space-around;
    align-items: center;
    min-height: 309px;
}

.footer ul {
    grid-column: 1/3;
    display: flex;
    gap: 40px;
    /* margin-top: 80px; */
}

.footer h2 {
    grid-column: 4/6;
    font-family: "Elsie", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 100%;
    color: #36392D;
}


.footer .email {
    grid-column: 6/9;
}

.footer .email p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}

.footer input {
    border: none;
    background-color: #B7BCA9;
    border-bottom: 1px solid #000000;
}

.footer a {
    color: #36392D;
}

input {
    background-color: none;
}

.footer .icons {
    bottom: 80px;
    grid-row-start: 2;
    grid-column: 4/6;
}

.footer svg {
    padding: 20px;

}

@media(max-width:800px) {
    .footer {
        display: flex;
        flex-direction: column;
    }



    .footer h2 {
        padding: 20px 0px 20px 0px;
        font-size: 22px;
    }

    .footer ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        gap: 20px;
    }

    .footer svg {
        padding: 10px;
    }
}

@media(max-width:1000px) {
    .footer h2 {
        font-size: 28px;
    }

    .footer {
        flex-direction: column;
        left: 50%;
        top: 50%;
    }

    .footer svg {
        padding: 10px;
    }
}

/* end footer */