:root {}

body {
    background-color: #CFD2C6;
    width: 100%;
    height: 5000px;
    display: flex;
    flex-direction: column;
}

/*start global */
* {
    padding: 0;
    margin: 0;
    transition: 0.3s;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*end global */
/* start landing */
.landing {
    position: relative;
}

.landing .image {
    width: 100%;
    overflow: hidden;
}

.landing .image img {
    width: 100%;

}

.landing .header ul {
    margin: 40px;
}

.landing .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: absolute;
    width: 100%;

}

.landing .header .name {
    color: #CFD2C6;
    margin: 40px;
    font-family: "Elsie", serif;
}


.header ul {
    display: flex;
}

.landing .header li {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}

.landing .header a {
    color: #CFD2C6;
}

@media(max-width:676px) {
    .landing .header {
        margin: 0px;
        padding: 0;
        overflow: hidden;
        margin-left: 20px;
    }

    .landing .header li {
        padding: 7px;
        font-size: 7pxpx;
    }

    .landing svg {
        width: 20px;
        margin-top: -6px;
    }

    .text p {
        font-size: 20px;
    }
}

@media(max-width:300px) {
    .landing .header {
        margin: 0px;
        padding: 0;
        overflow: hidden;
        margin-left: 20px;
    }

    .landing .header li {
        padding: 7px;

        font-size: 10px;
    }

    .landing svg {
        width: 20px;
        margin-top: -6px;
    }

    .text p {
        font-size: 20px;
    }
}

.landing .text {
    position: absolute;
    top: 50%;
    color: #CFD2C6;
    font-family: 'Clash Display', sans-serif;
    margin-left: 79px;
    width: 909px;
    font-size: 80px;
    font-weight: 700;
    overflow: hidden;
}

@media(max-width:676px) {
    .landing .text {
        width: 100px;
        margin-left: 20px;
    }

}

@media(max-width:800px) {
    .landing .text {
        width: 300px;
        margin-left: 40px;
        font-size: 40px;
    }
}

/* end landing  */
/* star page 2 */

.page2 .header ul {
    margin: 40px;
}

.page2 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

.page2 .header .name {
    color: #36392D;
    margin: 40px;
    font-family: "Elsie", serif;
}

.header ul {
    display: flex;
}

.page2 .header li {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}

.page2 .header a {
    color: #36392D;
}

@media(max-width:676px) {
    .page2 .header {
        margin: 0px;
        padding: 0;
        overflow: hidden;
        margin-left: 20px;
        flex-direction: column;
    }

    .page2 .header .name {
        margin-top: -20px;
        margin-bottom: -20px;
        justify-content: center;
        align-items: center;
    }

    .page2 .header li {
        padding: 7px;
        font-size: 7pxpx;
    }

    .page2 .section1 {
        flex-direction: column;
    }

    .page2 .header svg {
        width: 20px;
        margin-top: -6px;
    }

    .left-text h2 {
        font-size: 50%;
        text-align: center;

    }

    .right-text p {
        font-size: 70%;
        text-align: center;

    }
}

@media(max-width:300px) {
    .page2 .header {
        margin: 0px;
        padding: 0;
        overflow: hidden;
        margin-left: 20px;
    }

    .page2 .header li {
        padding: 7px;

        font-size: 10px;
    }

    .page2 .header svg {
        width: 20px;
        margin-top: -6px;
    }

    .page2 .section1 {
        flex-direction: column;
    }

    .left-text h2 {
        font-size: 30%;
        text-align: center;

    }

    .right-text p {
        font-size: 50%;
        text-align: center;
    }
}

.page2 .section1 {
    display: flex;
    height: 328px;
    width: 100%;
    align-items: center;
    position: relative;
}

.page2 .section1 .left-text {
    display: flex;
    justify-content: center;
    width: 425px;
    flex: 1;
    padding-left: 20px;
}

.page2 .section1 .left-text h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
    font-style: bold;
    color: #36392D;
}

.page2 .section1 .right-text {
    width: 570px;
    margin-left: 140px;
}

.page2 .section1 .right-text p {
    font-family: "Roboto", sans-serif;

    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: #36392D;

}

.page2 .section1 .icon {
    position: absolute;
    bottom: 20px;
    margin-top: 224px;
    margin-left: 80px;
}

.page2 .section1 .icon svg {
    padding: 12px;
}

@media(max-width:676px) {
    .page2 .section1 .left-text {
        width: 80%;
    }

    .page2 .section1 .left-text h2 {
        font-size: 30px;
    }

    .page2 .section1 .right-text {
        width: 80%;
        margin: 20px;
        margin-top: -30px;
    }

    .page2 .section1 .right-text p {
        font-size: 15px;
    }

    .page2 .section1 .icon {}

    .page2 .section1 .icon svg {
        width: 50px;
        margin-bottom: -90px;
        padding: 3px;
    }
}

@media(max-width:870px) {
    .page2 .section1 .left-text {
        width: 80%;
    }

    .page2 .section1 .left-text h2 {
        font-size: 50px;
    }

    .page2 .section1 .right-text {
        width: 80%;
        margin: 20px;
        margin-bottom: 76px;
    }

    .page2 .section1 .right-text p {
        font-size: 15px;
    }

    .page2 .section1 .icon {
        margin-bottom: -20px;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}

/* end section1 */
/* start section2 */
.section2 .images {

    display: flex;
    gap: 40px;
    overflow: hidden;
    margin-left: -40px;
}

.section2 .images img {

    height: 300px;
    object-fit: cover;
}

/* end section2 */
/* start section3 */
.section3 {
    margin-top: 80px;
    font-family: "Roboto", sans-serif;
    width: 1, 672px;
    height: 885px;

}

.section3 .text h2 {
    font-family: 'Clash Display', sans-serif;
    color: #36392D;
    ;
    font-size: 64px;
    height: 64px;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.section3 .text p {
    width: 570px;
    margin-top: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 160%;
    margin-bottom: 24px;
}

.section3 .text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section3 .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 .nav span {
    margin: 0 20px 20px;
    padding: 16px 40px;
    border: 1px solid #9FA68C;
    border-radius: 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.section3 .images {
    display: flex;
    overflow: hidden;
    text-align: center;
    position: relative;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section3 .images img {
    height: 400px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.section3 .images h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    margin: 16px;
}

.section3 .images span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;

}

.section3 .images .food3 img {
    border: 1px solid #FF0000;
}

.section3 .images .left-icon {
    position: absolute;
    left: 60px;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -50px;
}

.section3 .images .right-icon {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -50px;

}

@media(max-width:800px) {
    .section3 .text p {
        width: 80%;
        margin: auto;
    }

    .section3 .nav {
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .section3 .images svg {
        display: none;
    }
}

/* end section3 */
/* start section4 */
.section4 {
    display: flex;
    margin-top: 80px;
}



.section4 .image img {
    height: 760px;
}

.section4 .image {
    margin: auto;
}

@media(max-width:400px) {
    .section4 .image img {
        height: 500px;
    }

    .section4 {
        flex-direction: column;
        /* margin-top:900px; */

    }
}

@media(max-width:900px) {
    .section4 .image img {
        height: 400px;
    }

    .section4 {
        flex-direction: column;
        /* margin-top: 500px; */
    }

    .section4 .text {
        margin-bottom: 0px;
    }
}

.section4 .image h3 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 0;
}

.section4 .image span {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 16px 0;

}

.section4 .image p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 16px 0;

}

.section4 .text {
    flex-basis: 579.1231689453125px;
    display: flex;
    flex-direction: column;
    margin: 29px auto 479px auto;
}

.section4 .text hr {
    border: 1px solid #9FA68C;
}

.section4 .text p {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #9FA68C;
    top: 20px;
}

/* end section4 */
/* end page 2 */
/* start page3 */
.page3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #B7BCA9;
}

.page3 .text {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 328px;
}

.page3 .text h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #36392D;
    margin: 80px 0 182px 229px;
}

.page3 .text p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin: 80px 229px 190px auto;
}

.page3 .text .icon {
    position: absolute;
    left: 80px;
    bottom: 40px;

}

.page3 .text .icon svg {
    padding: 10px;
}

.page3 .images .item {
    width: 378px;
}

.page3 .images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page3 .images .item2 img {
    height: 567px;
    max-width: 378px;
    object-fit: cover;
}

.page3 .images img {
    margin: auto;
    height: 567px;
    min-width: 378px;
    display: block;
    object-fit: cover;
}


.page3 .text .icon {
    display: none;
}

@media(max-width:600px) {
    .page3 .text {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    .page3 .text h2 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #36392D;
        margin: auto;
    }

    .page3 .text p {
        text-align: center;
        margin-bottom: 50px;
        width: 80%;
        margin: auto;
    }

    .page3 .text .icon {
        display: none;
    }
}

/* end page3 */
/* start page4 */
.page4 {
    height: 1602px;
    margin-left: 60px;
}

.page4 .events {
    height: 1442px;
    opacity: 1;
    top: 4059px;
    left: 80px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 80px;
}

.page4 .events h2 {
    font-family: 'Clash Display', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #36392D;
    margin: 80px 0 182px 229px;

}

.page4 .events .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.page4 .images img {
    height: 637px;
    width: 868px;
    object-fit: cover;
    overflow: hidden;
}

.page4 .images .item {
    position: relative;
    z-index: 1;
    border: 1px solid #000000
}

.page4 .images .cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #959D7BCC;
    transition: 0.3s;
}

.page4 .images .item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    font-family: "Clash Display";
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    z-index: -1;
}

.page4 .images .item:hover {
    .cover {
        z-index: 2;
        
    }
    
    p {
        z-index: 2;
    }
}

@media(max-width:800px) {
    .page4 .events h2 {
        margin: 10px 0px 0px 10px;
    }

    .page4 .events .images {
        justify-content: center;
        align-items: center;
    }

    .page4 .images img {
        width: 40px;
        height: 200px;
    }
}

@media(max-width:1920px) {
    .page4 .images img {
        width: 600px;
        height: 400px;
        object-fit: cover;
        max-width: 100%;
    }

    .page4 .events {
        width: 1500;
        height: 1200;
        opacity: 1;
        top: 4059px;
        left: 80px;

        display: flex;
        flex-direction: column;
    }
}

/* end page4 */
/* start footer */
.footer {
    background-color: #B7BCA9;
    color: #36392D;
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 309px;
    opacity: 1;
    top: 5581px;
}

.footer ul {
    display: flex;
    gap: 40px;
    margin-top: 80px;
}

.footer h2 {
    font-family: "Elsie", serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 100%;
    color: #36392D;
    margin: 80px 0 182px 229px;
    transform: translate(-50%, -50%);
}

.footer ul li {}

.footer .email {
    margin-top: 80px;

}

.footer .email p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
}
.footer input{
    border: none;
    background-color: #B7BCA9;
    border-bottom: 1px solid #000000;
}
.footer a {
    color: #36392D;
}

input {
    background-color: none;
}

@media(max-width:600px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* end footer */